.Button {
  height: 10%;
  width: 50%;
}

input[type="button"] {
  font-family: Cormorant, serif;
  font-weight: 400;
  color: white;
  font-size: 150%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: 0.1s linear;
  background: rgba(0, 0, 0, 0.9) url("../assets/yoda-head.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: rgba(0, 0, 0, 0.9) 1px solid;
}

input[type="button"]:hover {
  /* transform: scale(1.05); */
  border: lime 1px solid;
}

input[type="button"]:focus {
  outline: none;
}
