h1 {
  font-family: Cormorant, serif;
  font-weight: 400;
  font-size: calc(20px + 6vw);
  color: white;
  margin: 0;
}

.translator-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.translator {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .translator {
    width: 95%;
  }
}
